{% extends 'base.html' %}
{% load i18n %}


{% block head_title %}{% trans "Reset" %}{% endblock %}

{% block content %}
<!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->
<div class="main-content-area">

  <!-- =-=-=-=-=-=-= Page Breadcrumb =-=-=-=-=-=-= -->
  <section class="page-title">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-7 co-xs-12 text-left">
          <h1>Reset Password</h1>
        </div>
        <!-- end col -->
        <div class="col-md-6 col-sm-5 co-xs-12 text-right">
          <div class="bread">
            <ol class="breadcrumb">
              <li><a href="#">Home</a>
              </li>
              <li><a href="#">Pages</a>
              </li>
              <li class="active">Reset Password</li>
            </ol>
          </div>
          <!-- end bread -->
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>

  <!-- =-=-=-=-=-=-= Page Breadcrumb End =-=-=-=-=-=-= -->

  <!-- =-=-=-=-=-=-= Login Form =-=-=-=-=-=-= -->
  <section class="section-padding-80 white" id="login">
    <div class="container">
      <div class="row">
        <h1>{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
    
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans 'Reset My Password' %}" />
        </form>
    
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

        <div class="clearfix"></div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- =-=-=-=-=-=-= Login Form   End =-=-=-=-=-=-= -->

</div>
<!-- =-=-=-=-=-=-= Main Area End =-=-=-=-=-=-= -->
{% endblock %}  