{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- =-=-=-=-=-=-= HOME =-=-=-=-=-=-= -->
  <div id="home" class="full-section parallax-home">
    <div class="slider-caption">
      <h1> Are You Looking for reading machine learning ? </h1>
      <h2> <span>Join  Our Community</span></h2>
      <a class="btn btn-transparent" href="{% url 'account_login'%}"> Join Now </a> <a class="btn btn-light" href="{% url 'post-list'%}"> Start Browsing </a> </div>
  </div>
  <!-- =-=-=-=-=-=-= HOME END =-=-=-=-=-=-= -->

  <!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->
  <div class="main-content-area">

    <!-- =-=-=-=-=-=-= Latest Questions  =-=-=-=-=-=-= -->
    <section class="section-padding-80 white" id="latest-post">
      <div class="container">
        <!-- title-section -->
        <div class="main-heading text-center">
          <h2>Recent Articles</h2>
          <div class="slices"><span class="slice"></span><span class="slice"></span><span class="slice"></span>
          </div>
        </div>
        <!-- End title-section -->

        <div class="row">
          <!-- Content Area Bar -->
          <div class="col-sm-12 col-xs-12 col-md-8"> 

            <!-- Blog Masonry Grid -->
            <div id="posts-masonry" class="posts-masonry" style="position: relative; height: 800px;">
              {% for post in object_list %}
              <!-- Blog Grid -->
              <div class="col-xs-12 col-sm-12 col-md-8  col-lg-12" style="position: absolute; left: 0px; top: 0px;">
                <div class="blog-grid">
                  
                  <!-- <div class="blog-image"> <img alt="blog-image1" class="img-responsive" src="{{ post.author.profile_picture.url }}"> </div> -->
                  <div class="blog-content">
                    <div class="blog-image"> <img alt="blog-image1" class="img-responsive" src="{{ post.thumbnail.url }}"> </div>
                    <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                    <ul class="post-meta">
                      <li>By {{post.author.user.username }}</li>
                      <li> {% for tag in tags %}
                        <i class="fa fa-tags"></i><a href="{% url 'searchbytag' tags=tag.tags__title %}">{{ tag.tags__title }}</a>
                      {% endfor %}</li>
                      <li><i class="fa fa-clock-o"></i> {{ post.timestamp|timesince }} ago</li>
                    </ul>
                    <p>{{ post.overview|linebreaks|truncatechars:200 }}</p>

                  </div>
                  <div class="blog-footer">
                    <ul class="like-comment">
                      <li><a href="#"><i class="icon-heart"></i>{{ post.vote_count }}</a>
                      </li>
                      <li><a href="#"><i class="fa fa fa-eye"></i>{{ post.view_count }}</a>
                      </li>
                      <li><a href="#"><i class="icon-chat"></i>{{ post.comment_count }}</a></li>
                    </ul>
                    <a href="{{ post.get_absolute_url }}" class="more-btn pull-right"><i class="fa fa-long-arrow-right"></i> MORE</a> </div>
                </div>
              </div>
              <!-- Blog Grid -->
              {% endfor %}

            </div>
            <!-- Blog Masonry Grid -->

            <!-- Pagination -->
            {% if is_paginated %}
            <div class="text-center  section-padding-40">
              <ul class="pagination ">
                {% if page_obj.has_previous %}                
                <li><a aria-label="Previous" href="?{{ page_request_var }}={{ page_obj.previous_page_number }}"> <i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                {% endif %}
                <li><a aria-label="Previous" href="?{{ page_request_var }}={{ page_obj.number }}" class="page-link active">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                <li><a aria-label="Next" aria-hidden="true" href="?{{ page_request_var }}={{ page_obj.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                {% endif %}
              </ul>
            </div>
            {% endif %}
            <div class="clearfix"></div>
            <!-- Pagination End -->
          </div>
          <!-- Content Area Bar End -->
          {% include 'right_sidebar.html' with most_recent=most_recent category_count=category_count %}


          <div class="clearfix"></div>
        </div>
      </div>
      <!-- end container -->
    </section>
    <!-- =-=-=-=-=-=-= Latest Questions  End =-=-=-=-=-=-= -->

    

  <!-- =-=-=-=-=-=-= Main Area End =-=-=-=-=-=-= -->
  {% endblock content %}