{% load static %}
          <!-- Right Sidebar -->
          <div class="col-sm-12 col-xs-12 col-md-4">

            <!-- sidebar -->
            <div class="side-bar">
              <div class="widget">
                <div class="widget-image widget-image-sm" style="height: 220px;"> <img alt="image" src="{% static 'images/nick-morrison-FHnnjk1Yj7Y-unsplash.jpg' %}">
                  <div class="widget-image-content text-center"> <img class="img-thumbnail" alt="avatar" src="{{ author_details.profile_picture.url }}">
                    <h2 class="widget-heading text-light"><strong>{{ author_details.authorname }}</strong></h2>
                    <h4 class="widget-heading text-light-op"><em>{{ author_details.desination }}</em></h4>
                  </div>
                </div>
                <div class="widget-content widget-content-full border-bottom">
                  <div class="row text-center">
                    <div class="col-xs-6 push-inner-top-bottom border-right">
                      <h3 class="widget-heading"><i class=" icon-trophy push"></i> <br>
                                            <small><strong>{{authorpostcount}}</strong> Posts</small></h3>
                    </div>
                    <div class="col-xs-6 push-inner-top-bottom">
                      <h3 class="widget-heading"><i class=" icon-profile-male themed-color-social push"></i> <br>
                                            <small><strong>{{authorvotecount}}</strong> Votes</small></h3>
                    </div>
                  </div>
                </div>
                <div class="widget-content border-bottom">
                  <h4>About</h4>
                  {% if author_details.aboutme %}
                  <p>{{ author_details.aboutme }}</p>
                  {% else %}
                  <p>Author didn't mention about him.</p>
                  {% endif %}
                </div>
                <!-- <div class="widget-content">
                  <div class="btn-group">
                    <a title="" data-toggle="tooltip" class="btn btn-default" href="javascript:void(0)" data-original-title="Facebook"></a>
                    <a title="" data-toggle="tooltip" class="btn btn-default" href="javascript:void(0)" data-original-title="Facebook"><i class="fa fa-facebook fa-fw"></i></a>
                    <a title="" data-toggle="tooltip" class="btn btn-default" href="javascript:void(0)" data-original-title="Twitter"><i class="fa fa-twitter fa-fw"></i></a>
                    <a title="" data-toggle="tooltip" class="btn btn-default" href="javascript:void(0)" data-original-title="Google Plus"><i class="fa fa-google-plus fa-fw"></i></a>
                  </div>
                </div> -->
              </div>

              <div class="widget">
                <div class="latest-news">
                    <h2>Related Articles</h2>
                    <hr class="widget-separator no-margin">
                    {% for post in most_relative %}
                        <div class="news-post">
                        <div class="post">
                            <figure class="post-thumb"><img alt="" src="{{ post.thumbnail.url }}">
                            </figure>
                            <h4><a href="{{post.get_absolute_url}}">{{ post.title }} </a></h4>
                            <div class="views"><i class="fa fa fa-eye" aria-hidden="true"></i> {{ post.view_count }}&nbsp;&nbsp; <i class="fa fa-comment"></i>{{ post.comment_count }}</div>
                        </div>
                        </div>
                    {% endfor %}
  
                  </div>
              </div>
              <!-- widget end -->
             <!--<div class="advertising"> <a href="javascript:void(0)"> <img alt="" src="http://fluentthemes.com/wp/knowledge/wp-content/uploads/2017/02/your-ad-here.jpg"> </a>
             </div>-->



            </div>
            <!-- sidebar end -->
          </div>
          <!-- Right Sidebar End -->